<style type="text/css">
v\:* {ldelim}
  behavior:url(#default#VML);
{rdelim}

{if $map.fullScreen eq 3}
html, body {ldelim}
  height: 100%;
  overflow: hidden;
{rdelim}

body {ldelim}
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px
{rdelim}

div#gallery {ldelim}
  height: 100%;
{rdelim}
{/if}

{literal}
.colorpickinput {
  border: 1px solid #000000;
  font-family:Verdana;
  font-size:11px;
  text-decoration: none;
  padding:4px;
}

.itemtable {
  border-collapse:collapse;
  border:2px solid black;
}

.itemtable tr{
  border:2px solid black;
}
/* -- Map type (Map Satelite Hybrid) --------- */
.maptype {
	padding: 0px 0px 0px 0px;
	font-family: Arial, sans serif;
	text-align: center;
	font-size: 0.75em;
}
.maptypetext {
	padding: 1px 0px 0px 0px;
	font-family: Arial, sans serif;
	text-align: center;
	font-size: 0.95em;
}
#zoomControl {
/* -- keeps the breaks the same size in all browsers for correct spacing -- */
	font-size: 8px;
	line-height: 0.1cm;
}
.mapLegend {
	text-align: left;
}

div.thumbbar {
  vertical-align:middle;
  white-space: nowrap;
  overflow: auto;
  clear: both;
  color:black;
  background-color:lightgrey;
  border:1px solid black;
}

div.thumbbar img{
  border:0px;
  margin:0px;
  padding-top:2px;
  padding-right:1px;
  padding-left:1px;
  padding-bottom:-2px;
}

div.thumbbar a:hover{
  -moz-opacity: 0.7;
  filter:alpha(opacity=70);
  opacity: 0.7;
}
div.thumbbar a:focus
{
-moz-outline-style: none;
}

/* -- History links -- */
.map_history {
   text-align: left;
   font-size: 10px;
   padding: 0px 0px 0px 20px;
   visibility: visible;
}

/* -- Custom Tooltip -- */
.tooltip
{
	position: absolute;
	left: 10px;
	top: 10px;
	width: 150px;
	background-color: #777;
	color: #fff;
	border: 1px solid #000;
	font: bold 13px "Trebuchet MS", Verdana, Arial, sans-serif;
	padding: 4px;
	z-index: 20;
	-moz-border-radius: 10px;
	-moz-opacity: .87;
	filter:alpha(opacity=87);
	opacity:.87;
}
</style>
{/literal}