/* ********************************************************************************
 * Building blocks
 * h2, h3, p, etc        Standard html tags
 * div.gbBlock           Sidebar or content section with style for contained lists
 * ul.gbBreadCrumb       List of links/path elements
 * table.gbDataTable     Table for data/form elements with styles for shading rows
 */

#gallery h2, #gallery h3, #gallery h4, #gallery form {
	margin: 0;
	padding: 0;
}

#gallery p {
	margin: 0.6em 0;
	padding: 0;
}


.gbBlock {
	padding: 4px;
	border-width: 0 0 0px 0px;
	border-style: inherit;
	border-color: inherit;
	/* IE can't inherit these */
	border-style: expression(parentElement.currentStyle.borderStyle);
	border-color: expression(parentElement.currentStyle.borderColor);
}

.gbBlock ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.gbBlock ul ul {
	margin: 0 0 0.5em 1.0em;
}

.gbBlock li {
	padding: 6px 0 0 0;
}

#gallery .gbBlock h3 {
	margin-bottom: 0.5em;
}

#gallery .gbBlock h4 {
	margin-top: 0.5em;
}


/*
#gsNavBar div.gbBreadCrumb {
	margin: 0;
	padding: 0px 8px;

}
*/

table.gbDataTable {
	margin-bottom: 4px;
}

table.gbDataTable th, table.gbDataTable td {
	padding: 4px;
}


.giBlockToggle {
	padding: 0 0.4em 0.1em;
}
.giBlockToggle:hover {
	cursor: pointer;
}


.gbMarkupBar {
	margin: 4px 0;
}

#gallery .gbMarkupBar input {
	margin: 0;
	padding: 0;
}


/* ********************************************************************************
 * Sections
 * body.gallery     Page body in G2 standalone (doesn't apply to embedded)
 * #gallery         Page container
 * #gsNavBar   Top bar with breadcrumb and other links
 * #gsSidebar       Sidebar
 * #gsContent       Main content
 */

body.gallery {
	margin: 0;
	padding: 0;
}

#gallery {
	padding: 8px;
}

#gsNavBar {
/*    border-top-width: 1px;*/
/*    border-bottom-width: 1px; */
}

/*
#gsNavBar div.gbSystemLinks {
	padding: 4px 6px;
}
*/

#gsNavBar div.gbSystemLinks span {
	line-height:18px;
	text-align: right;
	padding: 0 4px;
}

#gsSidebar {
	font-size: 1.2em;
	border-right-width: 2px;
	width: 175px;
	overflow: hidden;
}
#gsSidebarCol {
	padding-top: 0.5em;
	width: 1px; /* Expand to fit content ("0" bad4 firefox, "1px" bad4 opera) */
}

.giItemCell {
	/* padding: 5px; */
	margin: 10px;
	text-align: left;
}

.giAlbumCell {
	/* padding: 5px; */
	margin: 10px;
	text-align: left;
}

/* do not use because we do cells in divs down cols now.
td.giAlbumCell, td.giItemCell {
	padding: 1em;
	text-align: left;
}
*/

#gallery td.giAlbumCell select, #gallery td.giItemCell select {
	margin-top: 0.8em;
}

/* So imageframed thumbs can be centered */
/*
td.giAlbumCell table, td.giItemCell table {
	margin: auto;
}
*/

#gsPages span {
	padding: 0 0.3em;
}

#gallery #gsSidebar ul {
	font-size: 1em;
}

/* ********************************************************************************
 * Debaser Theme for Gallery 2
 * derived from:
 *   Matrix Theme for Gallery 2
 *   by Ross A. Reyman, Jon Huang, and Chad Kieffer
 *   updated by Alan Harder
 */

/* ********************************************************************************
 * Building blocks
 * #gallery              Default font/color settings
 * .gcBackground1,2..    Palette of backgrounds
 * .gcBorder1,2..        Palette of borders
 * a, h2, h3, etc        Standard html tags
 * .giTitle, .giSubtitle, .giDescription, .giInfo, .giSuccess, .giWarning, .giError
 *                       Palette of text styles
 * div.gbline-height:20px;
 * table.gbDataTable     Table for data/form elements with styles for shading rows
 * div.gbTabBar          UI component for selectable tabs
 * .autoComplete*        Styles for autoComplete popup lists
 */

#gallery {
	/* font-family: Verdana, Arial, Helvetica, sans-serif; */
	/* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
	font-family: "Lucida Grande", "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 62.5%;
	color: #333;
	background-color: #fff;
}
body.gallery {
	background-color: #fff;
}

.gcBackground1 {
	background-color: #eee;
}

.gcBackground2 {
	background-color: #e7e7e7;
}

.gcBorder1 {
	border: 0px solid #ccc;
}

.gcBorder2 {
	border: 0px solid #888;
}

#gallery a {
	font-weight: bold;
	text-decoration: none;
	color: #6b8cb7;
}
#gallery a:hover {
	text-decoration: underline;
	color: #f4560f;
}
#gallery a:active {
	text-decoration: none;
	color: #f9c190;
}

#gallery img {
	border-width: 0;
}

#gallery h2, #gallery h3, #gallery h4 {
	font-family: "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif;
}

#gallery input:focus, #gallery textarea:focus {
	background-color: #ffc;
}

#gallery input.inputTypeSubmit, #gallery input.inputTypeButton {  /* No input[type=submit] in IE */
	color: #333;
	background-color: #eee;
	border-width: 2px;
	border-style: solid;
	border-color: #e7e7e7 #666 #666 #e7e7e7;
}

#gallery select {
	font-size: 1em;
}

#gallery h2 {
	font-size: 2.8em;
	font-weight: bold;
}
.giTitle, #gallery h3, #gallery h4 {
	font-size: 1.4em;
	font-weight: bold;
}

.giTitle {
	color: #000000;
}
.giDescription {
	color: #000000;
}

.giThumbnail {
/*    border: 1px solid #666666 !important; */
}

#gallery pre, #gallery tt {
	font-family: Courier New;
	font-size: 1.2em;
}

.giSubtitle {
	font-size: 0.9em;
	font-weight: normal;
	vertical-align: text-bottom;
}

.giDescription {
	font-size: 1.3em;
	line-height: 1.4em;
}

.gbEmptyAlbum {
	height: 400px
}

.giDescription h1.emptyAlbum {
	line-height: 4.0em;
	text-align: center;
}

.giInfo {
	font-size: 0.9em;
	color: #888;
}

.giInfo span {
	display: block;
}

.giSuccess, .giWarning, .giError  {
	font-weight: bold;
}

.giSuccess { color: #5c0; }
.giWarning { color: #c50; }
.giError { color: #a44; }

div.block-core-ItemInfo span.summary {
  /* width: 60px; */
  text-align: right;
  margin: auto;
}
div.block-core-PhotoSizes {
  /* width: 60px; */
  text-align: right;
  margin: auto;
}

.giNew, .giUpdated {
	width: 60px;
	border-width: 0px;
	border-style: ridge;
	padding: 0 3px;
	line-height: 1.4em;
}

#gsNavBar div.gbBreadCrumb {
	line-height:18px;
	font-size: 1.3em;
	font-weight: bold;
	padding-left: 4px;
}

#gsNavBar div.gbBreadCrumb a, #gsNavBar div.gbBreadCrumb span {
	padding: 0 0 0 14px;
	background: url('images/icon_path_separator.gif') no-repeat left;
}

#gsNavBar div.gbBreadCrumb a.BreadCrumb-1 {   /* no :first-child in IE */
	padding-left: 0;
	background-image: none;
	white-space: nowrap;
}
#gallery.IE div.gbBreadCrumb span {
	display: inline-block;   /* IE loses padding-left on wrapped inline nowrap element */
	padding-right: 4px;      /* IE has less space at right of each span */
}

#gsNavBar div.gbBreadCrumb span.BreadCrumb-1 {   /* no :first-child in IE */
	padding-left: 0;
	background-image: none;
}

/*
#gsNavBar div.gbSystemLinks {
  float: right;
}
*/

table.gbDataTable th {
	text-align: left;
	background-color: #e7e7e7;
}

.gbEven {
	background-color: #fff;
}

.gbOdd {
	background-color: #eee;
}


div.gbTabBar {
	font-size: 1.1em;
	font-weight: bold;
	margin: 0.8em 0 0;
	padding: 6px;
	white-space: nowrap;
	border-bottom: 1px solid #FF0000;
}

div.gbTabBar span {
	padding: 6px 0 5px 4px;
}
#gallery.IE div.gbTabBar span {
	display: inline-block;   /* IE loses padding-left on wrapped inline nowrap element */
	margin-bottom: 1px;      /* ..and then adds padding differently with inline-block.. */
	padding-top: 0;  padding-bottom: 0;
}
#gallery.IE div.gbTabBar { padding-bottom: 0; }
#gallery.IE div.gbTabBar span.giSelected { margin-bottom: 0; padding-bottom: 0; }
#gallery.IE div.gbTabBar span span { padding-bottom: 5px; padding-top: 6px; }
#gallery.IE div.gbTabBar span.giSelected span { margin-bottom: 0; padding-bottom: 7px; }

#gallery div.gbTabBar span span {
	display: inline;
	padding: 6px 12px 5px 4px;
	border: 1px solid #00FF00;
}

#gallery div.gbTabBar a {
	color: #777;
	text-decoration: none;
}

#gallery div.gbTabBar a:hover {
	color: #333;
}

#gallery div.gbTabBar span.giSelected {
	padding-bottom: 6px;
}

#gallery div.gbTabBar span.giSelected span {
	color: #333;
	padding-bottom: 6px;
	border: 1px solid #FF0000;
}

.autoCompleteBackground {
	border: 1px solid #ccc;
	border-top-style: none;
	margin: 0;
}

.autoCompleteHighlight {
	text-decoration: underline;
}

.autoCompleteNotSelected {
	background-color: #eee;
	padding: 3px 4px 3px 17px;
}

.autoCompleteSelected {
	background-color: #ffc;
	padding: 3px 4px 3px 17px;
}


#gallery .gbMarkupBar input {
	font-size: 1.1em;
}


#ProgressBar #progressDone {
	background-color: #fd6704;
	border: thin solid #ddd;
}

#ProgressBar #progressToGo {
	background-color: #eee;
	border: thin solid #ddd;
}

.giSearchHighlight {
	font-weight: bold;
	background-color: #ff6;
}


/* ********************************************************************************
 * Sections
 * #gallery         Page container
 * #gsNavBar   Top bar with breadcrumb and other links
 * #gsSidebar       Sidebar
 * #gsContent       Main content
 * #giFormUsername  Form field for entering a username
 * #giFormGroupname Form field for entering a group name
 */

#gsNavBar div {
	/* margin-top: 0.1em;  /* Align system links with breadcrumb */
	font-weight: bold;
}

#gsSidebar div ul {   /* no > in IE */
	font-size: 1.1em;
	font-weight: bold;
}
#gsSidebar div ul ul { font-size: 1.0em; }

#gsSidebar ul span {
	color: #999;
}

#giFormUsername, .giFormUsername {
	background: url('../matrix/images/userinfo.png') no-repeat 0 1px;
	padding-left: 17px;
}

#giFormGroupname {
	background: url('../matrix/images/groupinfo.png') no-repeat 0 1px;
	padding-left: 17px;
}

#giFormPassword {
	background: url('../matrix/images/key7-16-bw.gif') no-repeat 0 1px;
	padding-left: 17px;
}

/* Opera ignores padding in form inputs; put icons on right side instead */
#gallery.opera #giFormUsername, #gallery.opera .giFormUsername,
#gallery.opera #giFormGroupname, #gallery.opera #giFormPassword {
	background-position: right center;
}



#gbNavigatorTable .left { text-align: left; }
#gbNavigatorTable .center { text-align: center; }
#gbNavigatorTable td.right { text-align: right; }

div.gbNavigator {
  border: 1px #FFF solid;
}

div.gbPagerButtons {
  padding: 7px;
}
div.gbPager {
  padding: 7px;
}
div.gbPager a {
  border: 1px #FFF solid;
  padding: 3px 3px 3px 3px !important;
}
.gbPagerCurrent {
  padding: 3px 3px 3px 3px !important;
  border: 1px #FFF solid;
  background-color: #FFF;
}
div.gbPager a:hover {
  border: 1px #FFF solid;
	background-color: #FFF;
}

#gbNavigatorTable a.previous {
  padding: 3px 27px 3px 27px;
  border: 1px #FFF solid;
  background: url("images/nav_prev.gif") 0% 50% no-repeat;
}

#gbNavigatorTable a.next {
  padding: 3px 27px 3px 27px;
  border: 1px #FFF solid;
  background: url("images/nav_next.gif") 100% 50% no-repeat;
}

#gbNavigatorTable a:hover.previous {
  background-color:#FFF;
}
#gbNavigatorTable a:hover.next {
  background-color:#FFF;
}

div.gbSearchBlock a.advanced {
  padding-left: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
}

div#gsSidebar div.block-core-ItemLinks a {
  display: block;
  padding: 3px;
}

div#gsSidebar div.block-core-PeerList a {
  display: block;
  padding: 3px;
}

div#gsSidebar div.block-core-PeerList span {
  font-weight: bold;
  display: block;
  padding: 3px;
}

div#gsSidebar div.block-core-PeerList span.current {
  color: #0b6cff;
}

/* ***************************************************** */
/*                   Dynamic blocks                      */
/* ***************************************************** */

div.block-comment-ViewComments {
  margin: 5px;
}

div.block-comment-ViewComments div.one-comment {
  border: 1px solid #e7e7e7;
  padding: 5px;
  margin-bottom: 5px;
}

div.block-comment-ViewComments h3 {}

div.block-comment-ViewComments span {
  padding-right: 5px;
}

div.block-comment-ViewComments p.info {
  font-style: italic;
  text-align: right;
  font-size: 0.95em;
}

div.block-core-GuestPreview {
  /*float: right; */
}

span.block-core-SystemLink {}

div.block-exif-ExifInfo {
  margin: 5px;
}

span.bsw_ButtonDisabled {
  color: #999;
}

span.bsw_ButtonEnabled {
  color: #000;
  cursor: pointer;
}

table.bsw_ParamTable {
  width: 100%;
  border: 1px solid #999;
  border-collapse: collapse;
}

tr.bsw_ParamHeaderRow {
  background-color: #EEE;
}

tr.bsw_ParamHeaderRow td {
  font-weight: bold;
  text-align: center;
  border: 1px solid #999;
}

td.bsw_BlockCommands {
  white-space: nowrap;
  text-align: center;
}

#gsFooter {
  padding-top: 4px;
}

.dBox {
  padding: 5px;
}
.dBoxPhoto {
  position:relative;
  overflow:hidden;
  border:1px solid #666666;
}
.dBoxDrawerInfo {
  cursor:pointer;
  position:absolute;
  padding:5px;
  text-align:center;
}
.dBoxDrawerTools {
  position:absolute;
  padding:5px;
}
.dBarBox {
  padding:3px;
}
